<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>0.png</string>
		<key>title</key>
		<string>在他面前，其他神马表情都弱爆了！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.png</string>
		<key>title</key>
		<string>为什么你们选车牌，非得跟自己过不去呢？</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.png</string>
		<key>title</key>
		<string>下午一客户来维修电脑，当时哥打开电脑一开，就石化了</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>title</key>
		<string>二逼青年伤不起啊，有木有啊啊啊啊</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>4.png</string>
		<key>title</key>
		<string>这也忒狠了</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>5.png</string>
		<key>title</key>
		<string>哥们为什么选八号呢</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>6.png</string>
		<key>title</key>
		<string>这年头的SB不少</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>7.png</string>
		<key>title</key>
		<string>够惨不？</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>8.png</string>
		<key>title</key>
		<string>亲，你能改下你的网名么？哈哈</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>9.png</string>
		<key>title</key>
		<string>这是在挑战小偷的智商么？</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10.png</string>
		<key>title</key>
		<string>这两货一定是兄妹！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>11.png</string>
		<key>title</key>
		<string>熊孩子又调皮了</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>12.png</string>
		<key>title</key>
		<string>这小姑娘吃个牛排比杀牛还费劲啊</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>13.png</string>
		<key>title</key>
		<string>我太TMD机智了</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>14.png</string>
		<key>title</key>
		<string>这是哪家电视台的，这么坑爹</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>15.png</string>
		<key>title</key>
		<string>求大神把我P得让人一见倾心的那种</string>
	</dict>
</array>
</plist>
